body {
  background-color: #59595a;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2%;
}
.card {
  background-color: rgb(121, 180, 214);
  margin: 10px;
  align-content: center;
  color: white;
}

.card:hover {
  transform: translateY(-10px);
  transition: 0.5s;
  cursor: pointer;
}

.card__image-container img {
  /* position: absolute;

  transform: translate(-50%, -50%); */
}

img {
  height: 3 00px;
  width: 300px;
}

.loader {
  margin-left: 50%;
  margin-top: 20%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
